[package]
name = "engine"
version = "0.1.0"
edition = "2024"

[dependencies]
thiserror = "1"
reqwest = { version = "0.12", features = ["rustls-tls"] }
gremlin-core = { path = "../gremlin-core"}
http = "1"

